* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Georgia", serif;
}

/* ===== NAVBAR ===== */
.navbar {
    background: linear-gradient(#c98a3a, #e4b46b);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
}

.logo {
    font-size: 28px;
    color: white;
    font-weight: bold;
}

.navbar nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* when mouse is hovering (optional) */
nav a:hover {
    color: #88582e;
}

/* ONLY when clicking */
nav a:active {
    color: #b3001b;
}

.icons i {
    color: white;
    margin-left: 15px;
    font-size: 18px;
    cursor: pointer;
}

.icons {
    display: flex;
    align-items: center;
}

.icon-box {
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    transition: background 0.2s ease;
}

.icon-box img {
    width: 30px;
    height: 35px;
    display: block;
}

/* HOVER */
.icon-box:hover {
    background: #b3001b;
}

/* CLICK */
.icon-box:active {
    background: #8f0014;
}


.btn {
    background: #b3001b;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    border: rgb(204, 136, 68);
    align-items: center;
}
    

/* ===== HERO ===== */
.hero {
    position: relative;
}

.hero-img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.hero-box {
    position: absolute;
    right: 120px;
    top: 70px;
    background: #fff3e6;
    border: 5px solid #b3001b;
    border-radius: 25px;
    padding: 30px 40px;
    width: 400px;
    text-align: center;
}

.hero-box h1 {
    color: #b3001b;
    font-size: 36px;
    margin-bottom: 15px;
}

.hero-box p {
    font-size: 16px;
    margin-bottom: 20px;
}

.hero-box button {
    background: #b3001b;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}

/* ===== STORY ===== */
.story {
    display: flex;
    padding: 50px;
    background: #feefe0;
    gap: 100px;
}

.story-images img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 8px;
    margin-right: 30px;
}

.story-text {
    background: #fff3e6;
    border: 4px solid #b3001b;
    border-radius: 20px;
    padding: 30px;
    max-width: 450px;
    height: fit-content;
}

.story-text h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.story-text p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.story-text button {
    background: #b3001b;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    cursor: pointer;
}

/* ===== BREADCRUMB ===== */
.breadcrumb {
    padding: 15px 40px;
    color: #b3001b;
    font-size: 14px;
}

.breadcrumb a {
    color: #b3001b;
    text-decoration: none;
}

.breadcrumb a:hover {
    color: #c98a3a;
    text-decoration: none;
}

/* ===== PAGE TITLE ===== */
.page-title {
    text-align: center;
    margin-bottom: 10px;
}

.page-title h1 {
    font-size: 36px;
}

.page-title p {
    font-size: 16px;
}

.divider {
    margin: 20px auto;
    width: 90%;
    border: 1px solid #b89a7a;
}

/* ===== ACCOUNT SECTION ===== */
.account-container {
    display: flex;
    padding: 40px;
}

/* ===== LOGIN ===== */
.login-box,
.register-box {
    width: 50%;
    padding: 0 40px;
}

.login-box h2,
.register-box h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
}

label {
    display: block;
    margin-top: 15px;
    font-size: 15px;
}

input, select {
    width: 100%;
    padding: 10px 15px;
    margin-top: 5px;
    border: 2px solid #e3a273;
    border-radius: 20px;
    outline: none;
}

.login-options {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.remember {
    font-size: 14px;
}

.btn-login  {
    margin-left: 150px;
    margin-right: auto;
    background: #b3001b;
    color: white;
    border: #c98a3a;
    padding: 8px 30px;
    border-radius: 20px;
    cursor: pointer;
}

.btn-signup {
    margin-top: 20px;
    background: #b3001b;
    color: white;
    border: #c98a3a;
    padding: 10px 0;
    width: 100%;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
}

.register-text {
    margin-top: 25px;
    font-size: 15px;
}

.register-text span {
    color: #b3001b;
    font-weight: bold;
}

/* ===== REGISTER ===== */
.row {
    display: flex;
    gap: 20px;
}

.mobile-row {
    display: flex;
    gap: 10px;
}

.mobile-row select {
    width: 80px;
}

.gender {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

/* ===== TITLE ===== */
.title {
    text-align: center;
    margin-bottom: 15px;
}

.title h1 {
    font-size: 36px;
}

.title p {
    font-size: 16px;
}

hr {
    border: 1px solid #c89a6a;
    width: 95%;
    margin: auto;
}

/* ===== ACCOUNT LAYOUT ===== */
.account-wrapper {
    display: flex;
    padding: 40px;
}

/* ===== SIDEBAR ===== */
.sidebar {
    width: 260px;
}

.sidebar ul {
    list-style: none;
    border: 2px solid #b07a4f;
    border-radius: 20px;
    overflow: hidden;
}

.sidebar li {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #b07a4f;
    background: #fff1e4;
    cursor: pointer;
}

.sidebar li:last-child {
    border-bottom: none;
}

.sidebar .active {
    background: #f7e1cc;
    font-weight: bold;
}

/* ===== MAIN CONTENT ===== */
.account-content {
    flex: 1;
    padding-left: 50px;
}

.profile {
    margin-bottom: 20px;
}

.avatar {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 3px solid #b07a4f;
    background:
        radial-gradient(circle at top, black 30%, transparent 31%),
        radial-gradient(circle at center, black 45%, transparent 46%);
}

.hello {
    font-size: 16px;
    margin-bottom: 20px;
}

.hello span {
    color: #b3001b;
    cursor: pointer;
}

.info {
    font-size: 15px;
    margin-bottom: 18px;
    max-width: 700px;
}

/* Contact css */
.Contact-section {
    display: flex;
    padding: 40px;
    gap: 40px;
}

.left, .right {
    width: 50%;
}

h3 {
    font-size: 28px;
    margin-bottom: 30px;
}

/* SUPPORT GRID */
.support-grid-contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.support-item {
    text-align: center;
}

.support-item i {
    font-size: 50px;
    margin-bottom: 10px;
}

.support-item .heading {
    font-weight: bold;
}

.support-item a {
    color: #d87300;
}

/* FORM */
form input,
form select,
form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 2px solid #e5a073;
    font-size: 16px;
}

form textarea {
    height: 100px;
    resize: none;
}

form label {
    font-size: 18px;
}

button {
    width: 100%;
    background-color: #b3001b;
    color: white;
    border: none;
    padding: 15px;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
}

button:hover {
    background-color: #900017;
}

hr {
    border: 1px solid #d8b59a;
}

/* CART HEADER */
.cart-header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    padding: 20px 40px;
    font-weight: bold;
}

.left-link {
    color: #a03;
    cursor: pointer;
}

/* CART ITEM */
.cart-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    padding: 20px 40px;
    align-items: center;
}

.item-info {
    display: flex;
    gap: 20px;
}

.item-info img {
    width: 120px;
    border-radius: 20px;
    border: 2px solid #a03;
}

.remove {
    background: none;
    border: 1px solid rgb(211, 138, 69);
    color: #a03;
    padding: 3px 8px;
    width: auto;
    font-size:smaller;
    border-radius: 3px;
    cursor: pointer;
}

/* QUANTITY */
.quantity {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid #e5a073;
    padding: 8px 15px;
    border-radius: 25px;
    width: fit-content;
}

.quantity button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

/* DELIVERY */
.delivery-section {
    padding: 40px;
}

.delivery-options {
    display: flex;
    gap: 20px;
}

.delivery {
    border: 2px solid #e5a073;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 160px;
}

.delivery.active {
    background: #a03;
    color: white;
}

.datetime {
    margin-top: 20px;
}

.datetime-input {
    display: flex;
    align-items: center;
    border: 2px solid #e5a073;
    padding: 10px;
    width: 300px;
}

.datetime-input input {
    border: none;
    outline: none;
    background: transparent;
    margin-left: 10px;
}

/* CHECKOUT */
.checkout {
    margin-top: 20px;
    text-align: right;
}

.checkout span {
    font-size: 20px;
    font-weight: bold;
}

.checkout-btn {
    background: #a03;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
}

/* ===== FOOTER ===== */
footer {
    background: linear-gradient(#c98a3a, #e4b46b);
    display: flex;
    justify-content: space-around;
    padding: 40px;
    color: white;
}

.footer-col h3,
.footer-col h4 {
    margin-bottom: 10px;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin-bottom: 5px;
}

.footer-icons i {
    font-size: 22px;
    margin-left: 15px;
    cursor: pointer;
}

